#sideButton  {
-fx-font-weight: bold;
-fx-background-color: #F4F4F4;
-fx-pref-width: 200px;
-fx-pref-height: 50px;
-fx-alignment: center-left;
-fx-border-width: 0 0 1px 0;
-fx-border-color: #cccccc;
}

#sideButton:hover {
-fx-background-color: #12805C;
-fx-text-fill: white;
}

#roomDetails {
-fx-border-color: black;
-fx-border-width: 0 0 1px 0;
}

#roomDetails:hover {
-fx-background-color: #f4f4f4;
}

#sidePane{
-fx-background-color: #F4F4F4;
-fx-pref-width: 200px;
}

#topDisplay{
-fx-background-color: white;
-fx-border-color: #F4F4F4;
-fx-border-width: 0 0 2px 0;
}

#deviceDisplay{
-fx-background-color: white;
}


#roomPane{
-fx-border-color: #12805C;
-fx-border-width: 2px;
-fx-padding: 10px 0 20px 10px;
}


/*
#roomPane:hover {
-fx-border-color: #12805C;
}
*/

#WelcomeMessage{
-fx-font-size: 40px;
-fx-text-fill:#12805C;
}

#time{
-fx-background-color:#f4f4f4;
-fx-background-radius: 15px;
-fx-padding:5px;
-fx-font-size:20px;
-fx-text-fill: #12805C;
}

#sortingPane{
-fx-background-color: #12805C;
-fx-background-radius: 0;
}

/*
#devices:hover{
 -fx-border-color: #12805C;
}
*/


#roomName {
-fx-text-fill: #12805C;
-fx-font-size:18px;
}

#devices{
-fx-border-color: #f4f4f4;
-fx-border-width: 5px;
}

#DeviceName{
-fx-font-size: 30px;
-fx-text-fill: #12805C;
}

#CompareName{
-fx-font-size: 20px;
-fx-text-fill: #12805C;
}

#sortingLabel{
-fx-font-size: 15px;
-fx-text-fill: white;
}
#sortingDropDown{
-fx-text-fill: #12805C;
-fx-font-size: 10px;
}

#deviceDetails{
-fx-text-fill: #12805C;
-fx-font-size:  20px;
}

#datePicker{
-fx-pref-width: 120px;
-fx-pref-height: 25px;
}

#dropdown{
-fx-padding: 10px 0 20px 10px;
-fx-border-width: 0 0 1px 0;
-fx-border-color:black;
}

#ViewTypeBox{
-fx-border-color: #F4F4F4;
-fx-border-width: 3px;
}

#SmallText{
-fx-font-size:15px;
-fx-text-fill: #12805C;
}

#graphWarning {
-fx-background-color: #f4f4f4;
-fx-text-align: center;
-fx-font-size:30px;
-fx-text-fill: red;
}

#listCSS {
-fx-text-align: center;
    -fx-background-color: 
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-background-insets: 0,1,4,5;
    -fx-padding: 7 15 7 15;
    -fx-font-family: "Helvetica";
    -fx-font-size: 15px;
    -fx-font-weight: normal;
    -fx-text-fill: #12805C;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}

#textField {
    -fx-background-color: transparent;
    -fx-border: 0px;
    -fx-text-fill: #12805C;
	-fx-font-size:  20px;
}

#textField:hover {
	-fx-border: 1px;
	-fx-border-color: #f4f4f4;
}

#capsLock{
-fx-text-fill:red;
-fx-font-weight: bold;
}

#timeDropDown{
-fx-pref-width:30;
}


.chart-series-line{
-fx-stroke-width: 2px;
-fx-effect: null;
}

.default-color0.chart-series-line {
-fx-stroke: #66CD00;
}
.default-color1.chart-series-line {
-fx-stroke: #00AF33;
}


.default-color0.chart-line-symbol {
-fx-background-color: #66CD00, white;
}
.default-color1.chart-line-symbol{
-fx-background-color: #00AF33, white;
}
.default-color0.chart-bar {
-fx-background-color: #66CD00;
}
.default-color1.chart-bar{
-fx-background-color: #00AF33;
}

#backPaneBackground {
	-fx-background-color:#f4f4f4; 
	-fx-pref-height:550px; 
	-fx-pref-width:780px;
}


#noInternetWarning {
	-fx-text-fill: red;
	-fx-font-weight: 700;
	-fx-font-size: 20px;
}


#noInternetText {
	-fx-text-fill: #333333;
	-fx-font-weight: 500;
	-fx-font-size: 15px;
}

#batteryLevel {
-fx-text-fill:white;
}


#botPaneBtn {
    -fx-background-color: 
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-background-insets: 0,1,4,5;
    -fx-padding: 7 15 7 15;
    -fx-font-family: "Helvetica";
    -fx-font-size: 15px;
    -fx-font-weight: normal;
    -fx-text-fill: #12805C;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
    -fx-min-width: 130px;
    -fx-max-width: 130px;
}


#botPaneBtn:hover {
    -fx-background-color: 
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%);
    -fx-background-insets: 0,1,4,5;
    -fx-padding: 7 15 7 15;
    -fx-font-family: "Helvetica";
    -fx-font-size: 15px;
    -fx-font-weight: normal;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
    -fx-min-width: 130px;
    -fx-max-width: 130px;
}

#botPaneBtn Text {
    -fx-effect: dropshadow( one-pass-box , white , 0, 0.0 , 0 , 1 );
}

#readingLabel {
    -fx-font-size: 60px;
    -fx-font-weight: 400;
    -fx-text-fill: #B1B1B1;
}